
.example-wrapper {
  display: flex;
  justify-content: center;
  font-family: "Segoe UI";
  font-size: medium;
  margin-top: 0px;
  margin-bottom: 30px;
  padding: 20px;
  overflow-y: auto;
}


kendo-dropdownlist {
  width: 170px;
}

.k-form {
  width: 250px;
}

.k-form-legend {
  font-size: small;
  width: 250px;
}


.text {
  text-align: center;
  padding: 5px;
  margin-top: 5px;
  font-family: "Segoe UI";
}

.footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100vw;
  padding-top: 20px;
  color: #fff;
  text-align: center;

}
.message{
  text-align: center;
}
.button{
  padding: 5px 11px;
  background-color: #2f2e2e;
  color: #faf6f6;
  border-radius: 2px;
  border:1px solid #081c26;
}

.button:hover{
  background-color: #256e80;
}

.helptext{
  font-size: 12px;
}

.formerror{
  color:red;
  font-size: 12px;
}
